@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #dac6c6;
	/* background: #f1f1f1; */
	border-top-right-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #7a7a7a;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
